.container {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
}

.rightItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.rightItems form {
  width: 100%;
}

.container input {
  width: 200px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[name=itemSubmit] {
  padding-right: 400px;
  padding-top: 50px;
  padding-left: 0px;
  padding-bottom: 50px;
  width: 100px;
  font-size: 14px;
  border: 0px;
}

input[name=deleteItemInput] {
  width: 200px;
  height: 20px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 16px;
}

.item {
  padding-top: 50px;
  padding-right: 320px;
}

.container h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: bold;
}

.itemInputContainer {
  display: flex;
  justify-content: space-between;
}

.inputFirst input {
  width: 200px;
  height: 20px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 16px;
}

.inputSecond input {
  width: 200px;
  height: 20px;
  margin-right: 0px;
  padding: 0px;
  font-size: 16px;
}

.inputFirst h2 {
  text-align: right;
}

.inputSecond h2 {
  text-align: right;
}

button[name=itemButton] {
  width: 100px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  margin-left: 310px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[name=deleteButton] {
  width: 100px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  margin-left: 310px;
  border: none;
  border-radius: 4px;
  background-color: #d90d0dce;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[name=updateButton] {
  width: 100px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  margin-left: 50px;
  border: none;
  border-radius: 4px;
  background-color: #284d30ce;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[name=itemButton]:hover {
  background-color: #0056b3;
}

button[name=deleteButton]:hover {
  background-color: #8c0b0bce;
}

button[name=updateButton]:hover {
  background-color: #043c11ce;
}

.deleteItem {
  padding-top: 100px;
  padding-right: 320px;
}

.deleteItem h2 {
  text-align: right;
}